{
	debug
	grace_period 5s
	log {
		level debug
		output file /var/log/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 168h
		}
		format json {
			time_format wall
		}
	}
}

:4321 {
	encode zstd gzip
	root * /usr/share/caddy
	file_server {
		precompressed zstd br gzip
	}
	log {
		level debug
		output file /var/log/revista-access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 168h
		}
		format json {
			time_format wall
		}
	}
}
