version: "3.9"

services:
  revista:
    image: erfianugrah/revista-4:1.20.18
    hostname: revista
    container_name: revista
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 128M
    volumes:
      - /mnt/user/data/revista/log:/var/log
    environment:
      - TZ=Asia/Singapore
    expose:
      - 80 
    networks:
     revista:
        ipv4_address: 172.19.23.2

networks:
  revista:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.23.0/24
          gateway: 172.19.23.1
