---
import { getCollection } from "astro:content";
import AuthorLayout from "../../layouts/AuthorLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("authors");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const collection = "authors";
---

<AuthorLayout
  frontmatter={entry.data}
  currentSlug={entry.slug}
  collection={collection}
>
  <p class="prose prose-slate dark:prose-invert italic no-underline"></p>
  <Content />
</AuthorLayout>
