---
import { getCollection, render } from "astro:content";
import AuthorLayout from "../../layouts/AuthorLayout.astro";
import { buildDetailPaths } from "../../scripts/collections";

export async function getStaticPaths() {
  const entries = await getCollection("authors");
  return buildDetailPaths(entries);
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const collection = "authors";
---

<AuthorLayout
  frontmatter={entry.data}
  currentId={entry.id}
  collection={collection}
>
  <p class="prose prose-slate dark:prose-invert italic no-underline"></p>
  <Content />
</AuthorLayout>
