---
import { getCollection, render } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
import { buildDetailPaths } from "../../scripts/collections";

export async function getStaticPaths() {
  const entries = await getCollection("zeitweilig");
  return buildDetailPaths(entries);
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(entry);
---

<MarkdownPostLayout
  frontmatter={entry.data}
  currentId={entry.id}
  collection="zeitweilig"
>
  <p class="prose prose-slate dark:prose-invert italic no-underline">
    {remarkPluginFrontmatter.minutesRead}
  </p>
  <Content />
</MarkdownPostLayout>
