---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProseHeadings from "../../../components/Prose_headings.astro";
const allShortForm = await getCollection("short_form");
const tags = [...new Set(allShortForm.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout title={pageTitle}>
  <ProseHeadings>
    <div class="tags">
      {
        tags.map((tag) => (
          <p class="tag">
            <a href={`/short_form/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </ProseHeadings>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
