---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import {  getEntry } from 'astro:content';

const entry = await getEntry('muses', 'the-beginning');
const { Content } = await entry.render();
---

<BaseLayout>
<h1>{entry.data.title}</h1>
<p>Published on: {entry.data.pubDate}</p>
<p>Updated on: {entry.data.updatedDate}</p>
<Content />
</BaseLayout>


