---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <h1>My Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="../content/muses/2017-09-02-the-beginning.md">Post 1</a></li>
  </ul>
</BaseLayout>
