---
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout title={pageTitle}>
  <h2 class="prose prose-slate dark:prose-invert font-jost">
    Life in review. A recollection of things experienced, and things felt.
  </h2>
</BaseLayout>
