---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <h2 class="prose">
      Life in review. A recollection of things experienced, and things felt.
    </h2>
</BaseLayout>
