---
import BaseLayout from "../layouts/BaseLayout.astro";
import GetRandomImage from "../components/getRandomImage.astro";
const { pageTitle } = Astro.props;
import { getCollection } from "astro:content";
const collections = ['long_form', 'short_form']; // Add all your collections here
let allImages = [];
for (let collection of collections) {
  const allContent = await getCollection(collection);
  const images = allContent.map((post) => post.data.image?.src);
  allImages = [...allImages, ...images];
}
---
<BaseLayout title={pageTitle}>
    {allImages.length > 0 ? <GetRandomImage images={JSON.stringify(allImages)} alt={JSON.stringify(allImages)} /> : <p>No images found</p>}
</BaseLayout>