---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("long_form");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const collection = "long_form";
---

<MarkdownPostLayout
  frontmatter={entry.data}
  currentSlug={entry.slug}
  collection={collection}
>
  <p class="prose prose-slate dark:prose-invert italic no-underline">
    {remarkPluginFrontmatter.minutesRead}
  </p>
  <Content />
</MarkdownPostLayout>
