---
const { title, url, image, description } = Astro.props;
import "@fontsource/sarabun";
import "@fontsource-variable/jost";
import "@fontsource-variable/josefin-sans";
---

<div class="flex space-x-14 mb-14">
  <div id="image" class="flex w-1/3 relative h-64">
    <img
      src={image}
      class="absolute inset-0 w-full h-full object-cover object-center"
    />
  </div>

  <div id="description " class="w-2/3 flex flex-col justify-start">
    <h3 class="font-josefin font-bold">{title}</h3>
    <p class="font-jost normal-case line-clamp-3">{description}</p>
    <a
      class="prose prose-slate dark:prose-invert text-blue-600 no-underline"
      href={url}
    >
      <h4 class="font-jost normal-case line-clamp-3 mt-8">Read more -></h4>
    </a>
  </div>
</div>
<script src="../scripts/hideimage.js"></script>
