---
const today = new Date();
import { Icon } from "astro-icon";
---

<footer
  class="md:flex md:justify-between md:items-center md:align-center font-overpass-mono w-full md:h-full mt-12"
>
  <div class="text-[12px] text-justify items-center flex justify-center">
    &copy; {today.getFullYear()} Erfi Anugrah. All rights reserved.
  </div>
  <div class="flex justify-center gap-1 m-2 sm:m-0">
    <a href="https://mastodon.social/@stoicopa" target="_blank">
      <span class="sr-only">Follow Erfi on Mastodon</span>
      <Icon name="mdi:mastodon" class="h-[16px] w-[16px]" />
    </a>
    <a href="https://github.com/erfianugrah" target="_blank">
      <span class="sr-only">Go to Erfi's GitHub repo</span>
      <Icon name="mdi:github" class="h-[16px] w-[16px]" />
    </a>
    <a href="https://www.linkedin.com/in/erfianugrah/" target="_blank">
      <span class="sr-only">Go to Erfi's LinkedIn Profile</span>
      <Icon name="mdi:linkedin" class="h-[16px] w-[16px]" />
    </a>
    <a href="https://www.instagram.com/stoicopa/" target="_blank">
      <span class="sr-only">Go to Erfi's Instragram Profile</span>
      <Icon name="mdi:instagram" class="h-[16px] w-[16px]" />
    </a>
  </div>
  <slot />
</footer>
