---
const { images, alt, url, tag } = Astro.props;
---

<div class="relative group border-0" data-images={images} data-alt={alt}>
  <a href={url}>
    <img id="randomImage" class="object-cover"  />
    <p class="absolute inset-0 flex items-center justify-center text-4xl">
      {tag}
    </p>
  </a>
   <!-- <div class="overlay absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 transition-opacity duration-500 pointer-events-none"></div> -->
</div>
<script src="../scripts/getrandomimage.js" />
