---
const { images, alt, urls, tag } = Astro.props;
---
<div class="relative group border-0 hover:scale-105 transition-transform duration-200" data-images={images} data-alt={alt} data-urls={urls}>
  <a>
    <img id="randomImage" class="w-full h-[1080px] md:h-[640px] sm:h-[480px] xs:h-[320px] object-cover"  />
    <p class="absolute inset-0 flex items-center justify-center text-4xl">
      {tag}
    </p>
  </a>
</div>
<script src="../scripts/getrandomimage.js" />