---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Picture } from "astro:assets";

// const favicon_avif = await getImage({
//   src: "https://cdn.erfianugrah.com/ea_favicon.png",
//   alt: "favicon",
//   width: "400",
//   height: "400",
//   decoding: "async",
//   format: "avif"
// });
---

<header class="mb-[30px]">
  <nav
    class="flex items-center justify-between w-full h-full relative align-center"
  >
    <div>
      <a href="/">
        <Picture
          class="favicon absolute left-0 dark:invert -mt-[15px]"
          src="https://cdn.erfianugrah.com/ea_favicon.png"
          alt="favicon"
          formats={["avif", "webp"]}
          width="30"
          height="30"
          loading="lazy"
          decoding="async"
        />
      </a>
    </div>
    <div class="absolute right-[55px] -mb-[5px]">
      <ThemeIcon />
    </div>
    <div class="-mt-[3px]">
      <Hamburger />
    </div>
    <div class="absolute right-0">
      <Navigation />
    </div>
  </nav>
  <slot />
</header>
