---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="mb-[25px]" transition:animate="fade">
  <nav class="flex items-center justify-between w-full h-full relative align-center mb-[20px]">
    <div>
      <a href="/">
        <img
          class="favicon absolute left-0 -mt-[20px] dark:invert"
          src="/actualfavicon_o.png"
          alt="Home"
          width="40"
          height="40"
        />
      </a>
    </div>
    <div>
      <Navigation class="absolute right-0 z-20000" />
    </div>
    <div class="absolute right-[55px] mt-[4px]">
      <ThemeIcon /> 
    </div>
    <div class="mt-[3px]">
      <Hamburger />
    </div>
  </nav>
  <slot />
</header>
