---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="mb-[30px]" transition:animate="fade">
  <nav
    class="flex items-center justify-between w-full h-full relative align-center"
  >
    <div>
      <a href="/">
        <img
          class="favicon absolute left-0 dark:invert -mt-[15px]"
          src="/actualfavicon_o.png"
          alt="Home"
          width="30px"
          height="30px"
        />
      </a>
    </div>
    <div class="absolute right-[55px] -mb-[5px]">
      <ThemeIcon />
    </div>
    <div class="-mt-[3px]">
      <Hamburger />
    </div>
  </nav>
  <slot />
</header>
<div class="absolute right-0">
  <Navigation />
</div>