---
import Hamburger from "./Hamburger.tsx";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { Picture } from "astro:assets";
const { is404Page = false } = Astro.props;
---

<header class="mb-[20px] mt-[-10px]">
  <nav class="flex items-center justify-between w-full h-[30px]">
    {
      !is404Page && (
        <div class="flex items-center h-[30px]">
          <a href="/" class="block">
            <Picture
              src="https://cdn.erfianugrah.com/ea_favicon.png"
              alt="Home"
              width={30}
              height={30}
              formats={["avif", "webp"]}
              inferSize={true}
              class="favicon dark:invert w-[30px] h-[30px]"
            />
          </a>
        </div>
      )
    }
    <div class="flex items-center h-[30px] gap-2">
      {
        !is404Page && (
          <>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
              <ThemeToggle />
            </div>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
              <Hamburger client:load />
            </div>
          </>
        )
      }
    </div>
  </nav>
  {
    !is404Page && (
      <div class="absolute right-0 mt-2">
        <Navigation />
      </div>
    )
  }
  <slot />
</header>
