---
import "../styles/MasonryLayout.css";
import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div class="masonry">
  {
    images.map((image, index) => (
      <div key={index} class="image-container">
        <a href={image.src} data-fslightbox="gallery" class="image-link">
          <Image
            src={image.src}
            alt={image.alt}
            widths={[360, 720, 1080, 1440, 2160]}
            sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, (max-width: 2160px) 2160px`}
            width={2560}
            height={1440}
            decoding="async"
            format="avif"
            loading="lazy"
            class="image"
          />
        </a>
      </div>
    ))
  }
</div>