---
import "../styles/MasonryLayout.css";
import { Picture  } from 'astro:assets';
const { images } = Astro.props;
// const imageAssets = await Promise.all(images.map(async (image) => {
//   if (image) {
//     return await getImage({
//       src: image.src,
//       alt: image.alt,
//       width: "2560",
//       height: "1440",
//       decoding: "async",
//       format: "avif",
//       quality: "75"
//     });
//   }
//   return null;
// }));
---

<div class="masonry">
  {
    images.map((image, index) => (
      image ? (
        <div key={index} class="image-container" id="gallery">
          <a href={image.src} class="image-link glightbox">
            <Picture 
              src={image.src} 
              alt={image.alt}
              formats={['avif', 'webp']} 
              width="2560" 
              height="1440" 
              loading="lazy" 
              decoding="async" 
              class="image"
              quality="80"
            />
          </a>
        </div>
      ) : null
    ))
  }
</div>
<script src="../scripts/lightbox.js"></script>