---
import "../styles/MasonryLayout.css";
import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div class="masonry">
  {
    images.map((image, index) => (
      <div key={index} class="image-container" id="gallery">
        <a
          href=""
          class="image-link glightbox"
        >
          <Image
            src={image.src}
            alt={image.alt}
            width={2560}
            height={1440}
            decoding="async"
            format="avif"
            loading="lazy"
            class="image"
          />
        </a>
      </div>
    ))
  }
</div>
<script src="../scripts/lightbox.js"></script>
<script src="../scripts/updateImageLinks.js"></script>