---
import "../styles/MasonryLayout.css";
import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div class="masonry">
  {
    images.map((image, index) => (
      <div key={index} class="image-container">
        <a href="" data-fslightbox="gallery" class="image-link">
          <Image
            src={image.src}
            alt={image.alt}
            width={3840}
            height={2160}
            decoding="async"
            format="avif" 
            loading="lazy"
            class="image"
          />
        </a>
      </div>
    ))
  }
</div>
<script src="../scripts/fslightbox.js"></script>
<script src="../scripts/updateImageLinks.js"></script>