---

---

<div
  transition:animate="fade"
  id="nav-links"
  class="nav-links collapsed font-josefin text-[21px] capitalize z-20000"
>
  <a class="fade-effect" href="/">Home</a>
  <a class="fade-effect" href="/muses">Muses</a>
  <a class="fade-effect" href="/short_form">Short Form</a>
  <a class="fade-effect" href="/long_form/tags">Long Form</a>
  <a class="fade-effect" href="/zeitweilig">Zeitweilig</a>
  <!-- <a href="/tags/">Tags</a> -->
  <slot />
</div>
<style>
  /* nav styles */
  .nav-links {
    position: fixed;
    width: 300px;
    height: auto;
    padding: 10px;
    z-index: 20000;
    transition: transform 0.15s ease-in-out;
    transform: translateX(100%);
  }
  .nav-links.collapsed {
    top: 80px;
    transform: translateX(100%);
  }

  .nav-links.open {
    transform: translateX(0);
    border-radius: 10px;
    top: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .nav-links a {
    display: block;
    line-height: 50px;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 22px;
    text-decoration: none;
    height: auto;
    z-index: 20000;
  }

  html.dark .nav-links {
    background: rgb(34, 33, 37);
  }

  html:not(.dark) .nav-links {
    background: rgb(245, 245, 245);
  }
  .fade-effect {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .fade-effect:hover {
    opacity: 0.5;
  }
</style>
