---
import "../styles/global.css";
---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/muses">Muses</a>
  <a href="/short_form">Short Form</a>
  <a href="/long_form">Long Form</a>
  <a href="/tags/">Tags</a>
</div>