---
---
<div transition:animate="fade" id="nav-links" class="nav-links">
  <a href="/">Home</a>
  <!-- <a href="/about" data-astro-reload >About</a> -->
  <a href="/muses">Muses</a>
  <a href="/short_form">Short Form</a>
  <a href="/long_form/tags">Long Form</a>
  <a href="/zeitweilig">Zeitweilig</a>
  <!-- <a href="/tags/">Tags</a> -->
</div>
<style>
/* nav styles */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Josefin Sans Variable', sans-serif;
  text-transform: capitalize;
}

/* .nav-links a:hover,
.nav-links a:focus {
  background-color: #3e458a;
} */

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: flex;
    position: static;
    width: auto;
    background: none;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .nav-links a {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
</style>