---
import "../styles/global.css";
import '@fontsource-variable/josefin-sans';
---
<div transition:animate="fade" id="nav-links" class="nav-links">
  <a href="/">Home</a>
  <a href="/about" data-astro-reload >About</a>
  <a href="/muses">Muses</a>
  <a href="/short_form">Short Form</a>
  <a href="/long_form/tags">Long Form</a>
  <a href="/zeitweilig">Zeitweilig</a>
  <!-- <a href="/tags/">Tags</a> -->
</div>
<style>
.nav-links a {
    font-family: 'Josefin Sans Variable', sans-serif;
}
</style>