<div id="search" class="ml-3 p-4 -mt-8"></div>

<script>
  document.addEventListener("astro:page-load", () => {
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", resetStyles: false });
    });

    window.addEventListener("keydown", (event) => {
      if (event.key === "/" || event.key === ".") {
        console.log("you pressed the slash");
        event.preventDefault();
        document.querySelector("div#search input").focus();
      }
    });
  });
</script>

<style is:global>
  .dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
</style>
