---

---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<button id="searchButton" class="text-lg pl-[30px] h-[50px]">Search</button>

<div id="myModal" class="modal">
  <div
    class="modal-content bg-[rgb(245,245,245)] dark:bg-[rgb(34,33,37)] dark:text-[rgb(245,245,245)] m-2 w-[350px] md:w-[700px]"
  >
    <span id="closeButton" class="close">&times;</span>
    <div id="search" class="m-8" transition:persist></div>
  </div>
</div>

<script>
document.addEventListener("astro:page-load", () => {
  const modal = document.getElementById("myModal");
  const searchButton = document.getElementById("searchButton");
  const closeButton = document.getElementById("closeButton");

  searchButton.addEventListener("click", () => {
    modal.classList.add("visible");
  });

  closeButton.addEventListener("click", () => {
    modal.classList.remove("visible");
  });

  new PagefindUI({
    element: "#search",
    showSubResults: true,
    resetStyles: false,
  });
});
</script>

<style is:global>
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal.visible {
    display: block;
  }
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-height: 70vh;
    overflow-y: auto;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .dark {
    --pagefind-ui-text: rgb(245, 245, 245) !important;
    --pagefind-ui-primary: #eeeeee !important;
    --pagefind-ui-background: rgb(34, 33, 37) !important;
    --pagefind-ui-border: rgb(245, 245, 245) !important;
    --pagefind-ui-tag: rgb(245, 245, 245) !important;
  }
</style>
