---
import "@fontsource/sarabun";
import "@fontsource-variable/jost";
import "@fontsource-variable/josefin-sans";
---

<div
  class="prose prose-slate dark:prose-invert prose-h1:uppercase text-blue-700 font-josefin no-underline">
  <slot />
</div>
