---
import '@fontsource/sarabun';
import '@fontsource-variable/jost';
import '@fontsource-variable/josefin-sans';
---

<div
  class="prose prose-slate dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-700 prose-p:text-justify
  px-24 max-sm:px-5 max-w-7xl mx-auto w-full font-jost"
>
  <slot />
</div>
