---

---

<div
  class="prose prose-no-quotes prose-slate dark:prose-invert
  prose-h1:font-bold prose-h1:text-4xl prose-p:text-justify prose-p:hyphens-auto prose-p:break-words
  px-24 max-sm:px-5 max-w-7xl mx-auto w-full prose-p:text-base font-inconsolata"
>
  <slot />
</div>
